<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create User</a>
    </div>
    <div class="form-add-new">
        <form method="POST" action="create-user">
            <fieldset>
                <legend>Information</legend>
                <div class="input-group">
                    <label>Email: </label>
                    <input type="text" id="emailId" name="email"/>
                </div>
                <div class="input-group">
                    <label>Name: </label>
                    <input type="text" id="nameId" name="name"/>
                </div>
                <div class="input-group">
                    <label>City: </label>
                    <input type="text" id="cityId" name="city"/>
                </div>

                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </fieldset>
        </form>
    </div>
</body>

</html>