* {
  margin: 0;
  padding: 0;
}

.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  background-color: black;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

fieldset {
  background-color: #eeeeee;
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

input {
  margin: 5px;
}

.form-add-new {
  width: 500px;
  margin: 0 auto;
  padding-top: 100px;
}

button {
  background-color: #04AA6D;
  color: white;
  margin: 10px 0;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* Table List User */
.table-container {
    padding: 15px 20px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: gray;}